.filters {
  position:fixed;
  bottom:10px;
  left:10px;
}

.filter {
  padding: 0px 20px;
}

.filterButton {
  z-index: 10!important;
}

.watermark {
  position: absolute;
  right:30px;
  top:30px;
}

#map-test{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}

.toast-message {
  font-family: 'Roboto', sans-serif;
}

html {
  overflow: hidden;
}